
.a {

  background-color: #d1e7dd;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #0dcaf0;
  color: #0f5132;
  border: 1px solid rgba(0,0,0,.35);
}
